body{font-size:12px;font-style: "Arial"; line-height:2em;}
a{color: #727272;font-weight: bold;text-decoration : none;}
 a:hover {text-decoration : underline;}
 table{font-size: 14px;color: #b9f605;text-decoration : none;font-weight: bold;}
 table a{color: black;}
 table a:hover{color: #b9f605;text-decoration : none;}